<div class="text-center page-title mt-4"><h2>ガチャショップ</h2></div>
<div class="container">
  <div class="row">
    <% @gachas.each_with_index do |gacha, cnt| %>
      <div class="col-md-4 text-center mt-5">
        <%= link_to image_tag('ガチャガチャマシーン-trim.png', class: 'img-fluid'), gacha_path(gacha.id) %>
        <div class="gacha-title"><%= gacha.name =%></div>
      </div>
      <% if cnt != 0 && cnt %3 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
</div>
