<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 md-8">
            <div class="meigen-card text-center p-3">
                <div class="meigen-explain-meigen-page">
                    <%= meigen %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row meigen-show-link">
            <div class=" action-explain">
                この世に新たな名言が誕生しました
            </div>
        </div>
    </div>
</div>