<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8">
            <div class="meigen-card text-center p-3">
                <h2><%= meigen.author.name %></h2>
                <div class="meigen-explain-meigen-page">
                    <%= meigen.body %>
                </div>
            </div>
        </div>
    </div>
</div>