<div class="meigen-page-content">
    <div class="meigen-card text-center p-3">
        <div class="meigen-explain-meigen-page">
            <%= meigen %>
        </div>
    </div>
    <br>
    <div class="action container">
        <div class="row meigen-show-link">
            <div class=" action-explain">
                この世に新たな名言が誕生しました
            </div>
        </div>
    </div>
</div>