<% if @is_session_existed %>
    <div class="text-center mt-4"><h2>名言が出ました...!!</h2></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <%= image_tag 'ガチャポン.png', class: 'img-fluid'%>
            </div>
            <br>
            <% if @is_original_meigen %>
                <%= render 'meigens/result_original_meigen', meigen: @original_meigen_body %>
            <% else %>
                <%= render 'meigens/result_meigen', meigen: @meigen %>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="text-center mt-4">
        <h2>まずはガチャを回してください</h2>
        <div>
           <%= link_to gachas_path ,class:"nav-link header-link" do %>
                ガチャを選ぶ<span class="sr-only">(current)</span>
            <% end %>
        </div>
    </div>
<% end %>