<div class="text-center page-title mt-4"><h2>ガチャショップ</h2></div>
<div class="container">
  <div class="row">
    <% @categories.each_with_index do |category, cnt| %>
      <div class="col-md-4 text-center mt-5">
        <%= link_to image_tag('ガチャガチャマシーン-trim.png', class: 'img-fluid'), category_path(category.id), data: {"turbolinks" => false} %>
        <div class="category-title"><%= category.name =%></div>
      </div>
      <% if cnt != 0 && cnt %3 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
</div>
