<div class="font-size-48 text-center page-title"><%= @category.name %>ガチャ</div>
<div class="col-sm text-center">
     <h3 class="TextTyping mt-4">↓クリック！!</h3>
     <%= button_tag style:"border: none; outline: none; background: transparent;", id: 'one-gacha-machine' do %>
          <%= image_tag 'ガチャガチャマシーン-trim.png', class: 'img-fluid explain-img', style:"margin: 0px;" %>
     <% end %>
</div>
<br />

<div class="col-sm text-center" id="gacha-form-text" style="display: none">
     <%= link_to "ガチャ結果を見る", "#", method: :get, class: "btn btn-color btn-lg mb-2 test"%>
</div>

<script type="module">
import anime from "animejs";


let gacha = document.getElementById('one-gacha-machine');
let clickCnt = 0;
gacha.addEventListener('click',function(){
    if (clickCnt == 0) {
        anime({
            targets: gacha,
            translateX: 10,
            duration: 1000,
            loop: true,
        });
        document.getElementById("gacha-form-text").style.display = "block";
        clickCnt += 1;
    }
});


function TextTypingAnime() {
    $('.TextTyping').each(function () {
        let elemPos = $(this).offset().top - 50;
        let scroll = $(window).scrollTop();
        let windowHeight = $(window).height();
        let thisChild = "";
        if (scroll >= elemPos - windowHeight) {
            thisChild = $(this).children(); //spanタグを取得
            //spanタグの要素の１つ１つ処理を追加
            thisChild.each(function (i) {
                let time = 100;
                //時差で表示する為にdelayを指定しその時間後にfadeInで表示させる
                $(this).delay(time * i);
                $(this).delay(time * i).fadeIn(time);
            });
        } else {
            thisChild = $(this).children();
            thisChild.each(function () {
            $(this).stop(); //delay処理を止める
            $(this).css("display", "none"); //spanタグ非表示
            });
        }   
    });
}

// 画面をスクロールをしたら動かしたい場合の記述
$(window).scroll(function () {
    TextTypingAnime();/* アニメーション用の関数を呼ぶ*/
});// ここまで画面をスクロールをしたら動かしたい場合の記述

// 画面が読み込まれたらすぐに動かしたい場合の記述
$(window).on('load', function () {
    //spanタグを追加する
    let element = $(".TextTyping");
    element.each(function () {
        let text = $(this).html();
        let textbox = "";
        text.split('').forEach(function (t) {
            if (t !== " ") {
            textbox += '<span>' + t + '</span>';
            } else {
            textbox += t;
            }
        });
        $(this).html(textbox);
    });
    TextTypingAnime();/* アニメーション用の関数を呼ぶ*/
});
</script>