<div class="text-center page-title mt-4"><h2 class="mx-1">予定に合う名言をゲット</h2></div>
<div class="container">
    <div  class="row text-center justify-content-center">
        <div class="col-10 mt-3">
            <%= form_with url: schedule_gacha_show_path, method: :get, local: true do |f| %>
                <div class="form-group">
                    <%= f.label "今日の予定" %><br />
                    <%= f.text_field :schedule, class: "form-control form-field" %>
                </div>
                <div>
                    <%= f.submit "名言をゲット", class: "btn btn-color btn-lg m-3" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
