<footer class="footer" style="padding-bottom: 0">
  <div class="container">
    <p>Copyright © EDAMAME_NO_OTAKU All Rights Reserved.<br>
    <%= link_to "プライバシーポリシー", "#", class: "privacy_link" %>
  </div>
</footer>
