<footer class="footer">
  <div class="container">
    <div class="row justify-content-center text-center">
        Copyright © EDAMAME_NO_OTAKU All Rights Reserved.
    </div>
    <div class="row justify-content-center text-center">
      <%= link_to "プライバシーポリシー", "#", class: "privacy_link" %>
    </div>
  </div>
</footer>
